/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.min.css';
@import "bootstrap-icons/font/bootstrap-icons.css";
.mat-toolbar.mat-primary {
    background-color: #000000;
    color: #ffffff;
}
  
.mat-toolbar.mat-warn {
    background-color: #dc3545;
    color: #ffffff;
}